body {
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-mode {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.input-container {
    display: flex;
    gap: 10px;
}
body.dark-mode {
    background-color: black;
    color: white;
}
body.light-mode {
    background-color: white;
    color: black;
}
button {
    padding: 8px;
    cursor: pointer;
}
#taskList{
    padding: 10px;
}
.date {
    margin-right: 10px;
}
li {
    display: flex;
    justify-content:space-between;
    gap: 10px;
    border: 5px solid gray;
    margin-top: 8px;
    padding: 8px;
}
li button {
    background-color: red;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}
